{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}">
</head>



<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{% static 'img/logo.png' %}" width="5%" height="10%" id="icon" alt="User Icon" />
            </div>



            {% if messages %}
            <div class="alert alert-warning" role="alert">
                <!-- {% if messages %}
                <ul class="messages" role="alert">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %} -->

                <!-- {% for message in messages %} -->
                {{ message }}
                <!-- {% endfor %} -->
            </div>
            {% endif %}
            <!-- Login Form -->
            <form method="POST">

                {% csrf_token %}

                {{ form.email }}
                {{ form.password }}


                <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"> -->
                <input type="submit" class="fadeIn" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <!-- <div id="formFooter">
                <a class="underlineHover" href="password-reset/">Forgot Password?</a>
            </div> -->

        </div>
    </div>


</body>