{% extends 'authentication/layout.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" >
	<div class="row">
		<div class="col-md-8 d-none d-lg-block p-l-250 m-t-125  ">
			{% comment %} fixed height of image in div {% endcomment %}
			<img src="{% static 'authentication/images/password_reset.svg' %}" alt="login_page" class="img-responsive" height="350px">
		</div>
		<div class="col-md-4 col-sm-12  px-5">
			<div class="wrap-login100 p-t-125">
					<span class="login100-form-title m-b-20">
						Email Sent
					</span>
					<span class="login100-form-avatar">
						<img src="{% static 'authentication/images/icons/logo.png' %}" alt="AVATAR">
					</span>

					

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<a href="{% url 'authentication:user_login' %}" class='text-white'>
                                Login
                            </a>
						</button>
					</div>

				</div>
	</div>

	</div>
</div>

{% endblock content %}

{% block script %}
	
{% endblock script %}