{% extends 'authentication/layout.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" >
	<div class="row">
		<div class="col-md-8 d-none d-lg-block p-l-250 m-t-125  ">
			{% comment %} fixed height of image in div {% endcomment %}
			<img src="{% static 'authentication/images/change_password.svg' %}" alt="login_page" class="img-responsive" height="350px">
		</div>
		<div class="col-md-4 col-sm-12  px-5">
			<div class="wrap-login100 p-t-75">
				<form id='mainform' class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title m-b-20">
						Change Password
					</span>
					<span class="login100-form-avatar">
						<img src="{% static 'authentication/images/icons/logo.png' %}" alt="AVATAR">
					</span>
					<p class='reset_error'></p>
					<div class="wrap-input100 validate-input m-t-40 m-b-35" data-validate = "Enter Password">
						<input class="input100" type="password" name="new_password1" id="id_new_password1">
						<span class="focus-input100" data-placeholder="New Password"></span>
					</div>

					<div class="wrap-input100 validate-input m-t-40 m-b-35" data-validate = "Enter Password">
						<input class="input100" type="password" name="new_password2" id="id_new_password2">
						<span class="focus-input100" data-placeholder=" Confirm New Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button id='submitBTN' class="login100-form-btn">
							Save Password
						</button>
					</div>

					
				</form>
			</div>
	</div>

	</div>
</div>

{% endblock content %}

{% block script %}
	<script>

		{% comment %} add classs in id_email with plain javascript{% endcomment %}
		document.getElementById("id_new_password1").classList.add("input100");
        document.getElementById("id_new_password2").classList.add("input100");

		$(document).ready(function() {
			
			$('#submitBTN').click(function(e) {
				e.preventDefault();
				var password = $('#id_new_password1').val(); 
				var confirmPassword = 	$('#id_new_password2').val(); 
	
			   console.log(password );
			   console.log(confirmPassword );
			if(password != confirmPassword){
				$('.reset_error').html('* Password does not match!');
				$('.reset_error').css('color','red');
			}
			else if(password.length < 4){
				$('.reset_error').html('* Password should be greatere than 4 Characters!');
				$('.reset_error').css('color','red');
			}
			else{
				$('#mainform').submit();
			}
		
			});
		})
	</script>
{% endblock script %}