{% extends 'authentication/layout.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" >
	<div class="row">
		<div class="col-md-8 d-none d-lg-block p-l-250 m-t-125  ">
			{% comment %} fixed height of image in div {% endcomment %}
			<img src="{% static 'authentication/images/password_reset.svg' %}" alt="login_page" class="img-responsive" height="350px">
		</div>
		<div class="col-md-4 col-sm-12  px-5">
			<div class="wrap-login100 p-t-125">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title m-b-20">
						Forget Password
					</span>
					<span class="login100-form-avatar">
						<img src="{% static 'authentication/images/icons/logo.png' %}" alt="AVATAR">
					</span>

						
						<ul class="messages m-t-20">
							{% for message in messages %}
							<li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> * {{ message }} </li>
							{% endfor %}
						</ul>

					<div class="wrap-input100 validate-input m-t-40 m-b-35" data-validate = "Enter username">
						{% comment %} create a email input field with id input100 {% endcomment %}
						<input class="input100" type="email" name="email"  id='id_email'>



						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Send Mail
						</button>
					</div>

					
				</form>
			</div>
	</div>

	</div>
</div>

{% endblock content %}

{% block script %}
	<script>

		{% comment %} add classs in id_email with plain javascript{% endcomment %}

		

	</script>
{% endblock script %}