{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Done</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

</head>
<body>
<!--<div class="alert alert-info">-->
<!--  An email has been sent to reset your password!-->
<!--</div>-->
<div class="container">
    <!--Data or Content-->
    <div class="box-1">
        <div class="content-holder">
            <!-- <h2>Hello!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <button class="button-1" onclick="signup()">Sign up</button>
            <button class="button-2" onclick="login()">Login</button> -->
            <div class="fadeIn first">
                <img src="{% static 'img/logo.png' %}" id="icon" alt="User Icon" />
            </div>
            <h1>ℂ𝔼ℝ𝕋𝔸𝕀ℕ𝕋𝕐</h1>
            <p style="margin: 0px;">𝐶𝑟𝑎𝑓𝑡𝑖𝑛𝑔 𝐸𝑥𝑐𝑒𝑙𝑙𝑒𝑛𝑐𝑒</p>
        </div>
    </div>

<div class="alert alert-success">
          <br><br> <br><br> <br><br>
    <h5>An email has been sent to reset your password!</h5>

</div>
</div>
</body>
</html>