{% extends 'home/base.html' %}
{% load static %}

{% block title %} add permissions {% endblock title %}

{% block style %}{% endblock style %}

{% block content %}

<head>
<style>

</style>
</head>
<body>
<div class="groups">
<!--<body>-->
<input type="checkbox" id="cbgroup1_master" onchange="selectAll(this,'cbg1[]')" class="master"> Operations
<br><br>
<!--<div class="groups">-->
    <input type="checkbox" id="cb1_1" class="cbgroup1" name="cbg1[]" value="1"> Inventory-Recurring<br>
    <input type="checkbox" id="cb1_2" class="cbgroup1" name="cbg1[]" value="2"> Inventory-Adhoc<br>
    <!--<input type="checkbox" id="cb1_3" class="cbgroup1" name="cbg1[]" value="3"> Item 3<br>-->
    <!--<input type="checkbox" id="cb1_4" class="cbgroup1" name="cbg1[]" value="4"> Item 4<br>-->
    <br><br>
<!--</div>-->
<input type="checkbox" id="cbgroup2_master" onchange="selectAll2(this,'cbg2[]')" class="master"> MRO Supplies
<br><br>
<!--<div class="groups">-->
    <input type="checkbox" id="cb2_1" class="cbgroup2" name="cbg2[]" value="1"> MRO-Vendor<br>
    <input type="checkbox" id="cb2_2" class="cbgroup2" name="cbg2[]" value="2"> MRO Repair/Services<br>
    <!--<input type="checkbox" id="cb2_3" class="cbgroup2" name="cbg2[]" value="3"> Item 3<br>-->
    <!--<input type="checkbox" id="cb2_4" class="cbgroup2" name="cbg2[]" value="4"> Item 4<br>-->
<!--</div>-->
<br>
<input type="checkbox" id="cbgroup3_master" onchange="selectAll3(this,'cbg3[]')" class="master"> IT Infrastructure
<br><br>
<!--<div class="groups">-->
    <input type="checkbox" id="cb3_1" class="cbgroup3" name="cbg3[]" value="1"> MRO-Vendor<br>
    <input type="checkbox" id="cb3_2" class="cbgroup3" name="cbg3[]" value="2"> MRO Repair/Services<br>
<!--</div>-->
<br>
<input type="checkbox" id="cbgroup4_master" onchange="selectAll4(this,'cbg4[]')" class="master"> Bills & Reimbursement
<br><br>
<!--<div class="groups">-->
    <input type="checkbox" id="cb4_1" class="cbgroup4" name="cbg4[]" value="1"> MRO-Vendor<br>
    <input type="checkbox" id="cb4_2" class="cbgroup2" name="cbg4[]" value="2"> MRO Repair/Services<br>
<!--</div>-->
<br>
<input type="checkbox" id="cbgroup5_master" onchange="selectAll5(this,'cbg5[]')" class="master"> Reports
<br><br>
<!--<div class="groups">-->
    <input type="checkbox" id="cb5_1" class="cbgroup5" name="cbg5[]" value="1"> MRO-Vendor<br>
    <input type="checkbox" id="cb5_2" class="cbgroup5" name="cbg5[]" value="2"> MRO Repair/Services<br>
<!--</div>-->
<br>
<input type="checkbox" id="cbgroup6_master" onchange="selectAll6(this,'cbg6[]')" class="master"> Suggestions
<br><br>
<!--<div class="groups">-->
    <input type="checkbox" id="cb6_1" class="cbgroup6" name="cbg6[]" value="1"> MRO-Vendor<br>
    <input type="checkbox" id="cb6_2" class="cbgroup6" name="cbg6[]" value="2"> MRO Repair/Services<br>
</div>
</body>

{% endblock content %}

{% block addextra %}

<script src="{% static 'js/add_permissions.js' %}"></script>

{% endblock addextra %}
