{% extends 'home/base.html' %} 
{% load static %} 
{% block title %} Manage Users{% endblock title %}
{% block style %}
{% csrf_token %}
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link href="{% static 'home/css/notifications.css' %}" rel="stylesheet" />

<style>

.dbl[disabled] {
  background-color: white;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}


</style>

{% endblock style %} 


{% block content %}

{% comment %} Models for viewing the users information {% endcomment %}

{% for user in all_users %}

  <!-- Modal -->
<div class="modal fade" id="user-{{user.id}}" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{user.username|title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon-{{user.id}}-a">Email</span>
          <input type="text" class="form-control dbl" placeholder="{{user.email}}" aria-label="Email" aria-describedby="basic-addon-{{user.id}}-a" disabled>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon-{{user.id}}-b">Joined</span>
          <input type="text" class="form-control dbl" placeholder="{{user.date_joined|date:'Y-m-d H:i'}}" aria-label="Date Joined" aria-describedby="basic-addon-{{user.id}}-b" disabled >
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon-{{user.id}}-c">Last Seen</span>
          <input type="text" class="form-control dbl" placeholder="{{user.last_login|date:'Y-m-d H:i'|default:'Not Visited Yet!'}}" aria-label="Last Seen" aria-describedby="basic-addon-{{user.id}}-b" disabled>

        </div>


      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="user-perms-{{user.id}}" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{user.username|title}}'s Permissions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id ="user-permsbody-{{user.id}}" >
      </div>
      <div class="modal-footer">
        <button  onclick="savePermissions(this.id)" id='b-{{user.id}}' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
      </div>  
      
    </div>
  </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="delete-user-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm to Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to Delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a  href="{% url 'home:user_delete' user.id %}" title="Delete User" data-toggle="tooltip"  class='btn btn-danger' >Delete</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}



<div class="container-lg">
  <div class="row mb-2">
    <div class="col-sm-1" style="text-align: center">
      <img
        src="{% static 'home/media/manage_user.png' %}"
        width="100%"
        height="100%"
        alt="Manage User"
        col
      />
    </div>
    <div
      class="col-sm-11"
      id="notification-title"
      style="justify-content: center; vertical-align: center"
    >
      <h2><b>Manage Users</b></h2>
      <p>All Users! Showing newest first.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">     
      <button
      class="btn text-white"
      style="padding: 5px; float: right;background-color: #5f4266;"
      onclick=`${location.href='{% url 'home:home_view' %}'}`
      >
      Add Users
    </button>
  </div>
</div>

  <div class="row">
    <div class="table-responsive">
        <div class="table-wrapper1">
          <div class="table-title">
            {% if not all_users %}
            <div><p>You have no users yet...</p></div>        
            {% else %}
            <div class="row">
              <div class="col-12">
                <h4 class="pl-5 fw-bold">Admin Users:</h4>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
              
            {% for user in all_users %}
            {% if user.is_superuser %}
                <div class="col">
                <div class="card shadow p-2 bg-white rounded">
                  <div class="card-body p-0">
                    <img src="{% static 'home/img/user.svg' %}" class="card-img-top" alt="User">
                    <h4 class="card-title">{{ user.username|title }}</h4>
                    <p class="text-center">
                      <span  title="View User" data-toggle="tooltip"  data-bs-toggle="modal" data-bs-target="#user-{{user.id}}"  ><i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;" >&#xE8F4;</i></span>
                      <span   title="Delete User" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#delete-user-{{id}}" ><i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;" >&#xE872;</i></span>
                      <a href="{% url 'home:user_update' user.id %}" ><i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;" >&#xE254;</i></a>
                      <span onclick="fetchPermissions(this.id)" id="{{user.id}}" > <i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;"  >&#xef3d;</i></span>
                    </p>
                  </div>
                </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
            <br>
            <div class="row">
              <div class="col-12">
                <h4 class="pl-5 fw-bold">Users:</h4>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">

            {% for user in all_users %}
            {% if not user.is_superuser %}
            <div class="col">

              <div class="card shadow p-2 bg-white rounded">
                <div class="card-body p-0">
                  <img src="{% static 'home/img/user.svg' %}" class="card-img-top" alt="User">
                  <h4 class="card-title">{{ user.username|title }}</h4>
                  <p class="text-center">
                    <span  title="View User" data-toggle="tooltip"  data-bs-toggle="modal" data-bs-target="#user-{{user.id}}"  ><i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;" >&#xE8F4;</i></span>
                    <span   title="Delete User" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#delete-user-{{id}}" ><i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;" >&#xE872;</i></span>
                    <a href="{% url 'home:user_update' user.id %}" ><i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;" >&#xE254;</i></a>
                    <span onclick="fetchPermissions(this.id)" id="{{user.id}}" > <i class="material-icons" style="color:grey;margin: 2px;cursor: pointer;"  >&#xef3d;</i></span>
                  </p>
                </div>
              </div>
              </div>
              {% endif %}
              {% endfor %}              
            </div>
            {% endif %}             
          </div>
        </div>
        </div>
      </div>
  </div>

</div>

{% endblock content %}

{% block addextra %} 

  <script src="{% static 'home/js/add_permissions.js' %}"></script>

{% endblock addextra %}