{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--{{user.username}}-->
<!--             {{user.email}}-->

      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <br><br>
          <fieldset class="form-group">
              {{ u_form|crispy }}
<!--              {{ p_form|crispy }}-->
          </fieldset>
              <button class="btn btn-outline-info" type="submit">Update</button>
      </form>


{% endblock content %}
