{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/common.css' %}" rel="stylesheet">
<div class="sidenav nav-sidebar">
  <a class="nav home" href="{% url 'home:home_view' %}"><i class="fa fa-home"></i> Home</a>
  
  <button class="dropdown-btn"><i class="fa fa-server"></i> Operations 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container operation">
    <a class="nav pantry" style="font-size: 14px;" href="{% url 'operations:inventory_view' %}">Inventory</a>
    <a class="nav mro_supplies" style="font-size: 14px;" href="{% url 'operations:mro_view' %}">MRO Supplies</a>
    <a class="nav engagements" style="font-size: 14px;" href="{% url 'operations:engagements_view' %}">Engagements</a>
  </div>

  <a class="nav it_infrastructure" href="{% url 'IT_Infra:it_infra' %}"><i class="fa fa-home"></i> IT Infrastructure</a>

  <a class="nav report" href="{% url 'home:home_view' %}"><i class="fa fa-flag"></i> Report</a>
  <!-- <button class="dropdown-btn"><i class="fa fa-sticky-note"></i> Bills & Reimbursement 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container bills_reimbursement">
    <a class="nav pankaj" href="#">Pankaj</a>
    <a class="nav shreya" href="#">Shreya</a>
    <a class="nav company" href="#">Company</a>
  </div> -->
{% if request.user.is_superuser or request.user.is_staff %}
  <a class="nav bills_and_reimbursement" href="{% url 'home:home_view' %}"><i class="fa fa-inr"></i> Bills and Reimbursement</a>

  <a class="nav suggestions" href="{% url 'home:home_view' %}"><i class="fa fa-pencil-square-o"></i> Suggestions</a>
{% endif %}
  <a class="nav notifications" href="{% url 'home:notifications' %}">
    <div class="row">
      <div class="col-10"><i class="fa fa-bell"></i> Notifications </div>
      <div class="col-2 notification-circle" id="notification"></div>
    </div> 
</a>

  <a class="nav logout" href="{% url 'authentication:logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/common.js' %}"></script>