{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>

<head>
    <title>Success email</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/login.css' %}">
    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/blog/main.css' %}">

</head>


<div class="container">
    <!--Data or Content-->
    <div class="box-1">
        <div class="content-holder">
            <div class="fadeIn first">
                <img src="{% static 'home/img/logo.png' %}" id="icon" alt="User Icon"/>
            </div>
            <h1>ℂ𝔼ℝ𝕋𝔸𝕀ℕ𝕋𝕐</h1>
            <p style="margin: 0px;">𝐶𝑟𝑎𝑓𝑡𝑖𝑛𝑔 𝐸𝑥𝑐𝑒𝑙𝑙𝑒𝑛𝑐𝑒</p>
        </div>
    </div>
    <!--Forms-->
    <div class="box-2">
        <div class="login-form-container">
            <h3><small>Email successfully sent to {{ recipient }}</small></h3>

        </div>
    </div>
</div>