[MASTER]
ignore=migrations
disable=no-member,C0103,W0621,R0901,R0903,R1705,W0221,W0702,W0703,W0237,W0611,W0612,W0613,W0212,R0911,R1702,R0914,R0912,C0302,R0801
# C0103 : used for 
# W0621 : used for 
# R0901 : used for too many ancestors
# R0903 : used for too few public methods
# R1705 : used for no-else-return
# W0221 : used for arguments-differ
# W0702 : used for No exception type(s) specified (bare-except)
# W0703 : Catching too general exception Exception (broad-except)
# W0237 : used for arguments-renamed
# W0611 : used for unused-import
# W0612: unused-variable
# W0613 : unused-argument
# W0212 : protected-access
# R0911 : too-many-return-statements
# R1702 : too-many-nested-blocks
# R0914 : too-many-locals
# R0912 : too-many-branches
# C0302 : too-many-lines
# R0801 : Similar lines in 2 files

