body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
  /* overflow-x: hidden; */
}


html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 0.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1% 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.dropdown{
  z-index: 999;
}


.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.card-img-top {
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%px;
  display: block;
}

.card{
  margin-left: 10%;
  margin-right: 10%;
}

.card-title{
  text-align: center;
}

a.card-title:link {
  text-decoration: none;
}

a.card-title:visited {
  text-decoration: none;
}

a.card-title:hover {
  color: #bbd685;
}

a.card-title{
  color: #057333;
}

.custom-bg-sidebar{
  background-color: #00240f;
}

.navbar-link > .active > a {
  color: aqua;
  background-color: #a4cb3b;    
}

/* .pt-3-half { padding-top: 1.4rem; } */

.container-lg{
  margin: 10px 20px 10px;
}


.table-responsive{
  overflow-x: hidden;
}

.table-wrapper {
  width: auto;
  margin: 10px auto;
  background: #fff;
  padding: 10px;	
  /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,.15)!important;
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  text-shadow: none;
  border-radius: 50%;
  border: none;
  background-color: #007bff;
  color: #fff;
  overflow: hidden;
  transition: .3s;
  vertical-align: middle;
}
.table-title .add-new:hover{
  background-color: #86e08a
}

/* table.table {
  table-layout: auto;
} */
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
}
/* table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
} */
/* table.table th:last-child {
  width: 100px;
} */
/* table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}    
table.table td a.add {
  color: #27C46B;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}    
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
} */

/* .modal::before {
  display: inline-block;
  height: 100%;    
  margin-right: 20%;
  vertical-align: middle;
}

.modal-dialog { 
  display: inline-block;  
  text-align: center;   
  vertical-align: middle;
}

.modal-content{
  width: 1200px;
  margin-top: 40%;
  margin-left: 30%;
} */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #b8e4a3;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #a3e4a6;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #86e08a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.badge {
  display: inline-block;
  /* padding: 0.35em 0.65em; */
  font-size: .75em;
  font-weight: 750;
  line-height: 1;
  color: #ffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.55rem;
  margin-top: -22px;
  background-color: #eb1c1c;
}






#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;   
  /* background-color: #333; */
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  /* background-color: #333; */
  height: 35px;
}
.sidebar-separator {
  /* background-color: #333; */
  height: 25px;
}
.logo-separator {
  /* background-color: #333;     */
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
content: " \f0da";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}