{% extends 'home/base.html' %} 
{% load static %}
{% block title %}Suggestion {% endblock title %} 

{% block style %}
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link href="{% static  'suggestions/css/compiled-4.19.2.min.css' %}" rel="stylesheet" />
<link href="{% static 'suggestions/css/notifications.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">



{% endblock style %} 

{% block content %}

<div class="container-lg">
  <div>
    <div>
      <div class="table-title">
        <div class="row">
          <div class="col-sm-1" style="text-align: center">
            <i class="material-icons" style="font-size:48px;color:green">border_color</i>
        </div>
          <div
            class="col-sm-11"
            id="notification-title"
            style="justify-content: center; vertical-align: center"
          >
            <h2><b>Suggestion</b></h2>
            <p>
              Suggestion you've ever received in last 7 days. Showing newest
              first.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- New page is going to appear from here -->
  <button
    class="btn text-white"
    style="padding: 5px; float: right;background-color: #5f4266;"
    onclick=`${location.href='{% url 'suggestions:suggestionall' %}'}`
  >
    All Suggestion
  </button>

  <!-- Modal for more text -->

  {% for suggestion in all_suggestions %}

  <div class="modal fade" id="meta-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{suggestion.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{suggestion.suggestion}}
        </div>
      </div>
    </div>
  </div>


  <!-- Model for version history table -->

  <div class="modal fade" id="meta3-{{suggestion.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Suggestion Summary</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead style="background-color: #f0f0f0;" class="text-center" >
              <tr>
                <th style="font-weight: bold;" scope="col">User</th>
                <th style="font-weight: bold;" scope="col">Comment</th>
                <th style="font-weight: bold;" scope="col">Change Date</th>
                <th style="font-weight: bold;" scope="col">Category</th>
                <th style="font-weight: bold;" scope="col">Status</th>
                <th style="font-weight: bold;" scope="col">Type</th>
              </tr>
            </thead>
            <tbody id="tablerows-{{suggestion.id}}">
              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

{% for suggestion in all_suggestions %}

  <div class="modal fade" id="meta2-{{suggestion.id}}" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Edit Summary</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form >
            {% csrf_token %}
            <div class="mb-3">
              <label for="meta2-name-{{suggestion.id}}" class="form-label">Name</label>
              <input type="text" class="form-control" id="meta2-name-{{suggestion.id}}" placeholder="Name" value="" disabled >
            </div>
            <div class="mb-3">
              <label for="meta2-suggestion-{{suggestion.id}}" class="form-label">Suggestion</label>
              <textarea class="form-control" id="meta2-suggestion-{{suggestion.id}}" rows="3" disabled></textarea>
            </div>
            <div class="mb-3">
              <label for="meta2-time-{{suggestion.id}}" class="form-label">Time</label>
              <input type="text" class="form-control" id="meta2-time-{{suggestion.id}}" placeholder="time" value="" disabled >
            </div>
            <div class="mb-3">
              <label for="meta2-category-{{suggestion.id}}" class="form-label">Category</label>
              <input type="text" class="form-control" id="meta2-category-{{suggestion.id}}" placeholder="category" value="" disabled >
            </div>
            <label class="form-label">Status</label>

            <select class="form-select" aria-label="Select Progress" id="select{{suggestion.id}}"  >    
              
            </select> 

            <div class="mb-3">
              <label for="meta2-comment-{{suggestion.id}}" class="form-label">Comment</label>
              <textarea class="form-control" id="meta2-comment-{{suggestion.id}}" rows="3" ></textarea>
            </div>

            <button type="button" class="btn" style="background-color: #5f4266;color: white;" onclick="formupdate(this.id)" id="s-{{suggestion.id}}" >Update</button>
            
          </form>

        </div>
      </div>
    </div>

  </div>

{% endfor %}


  <div class="table-responsive">
    <div class="table-wrapper1">
      <div class="table-title">
        {% if not all_suggestions %}
        <div><p>You have not received any suggestions yet...</p></div>        
        {% else %}
        <table class="table table-bordered" id='tableDemo'>
          <thead style="background-color: #f0f0f0;" class="text-center">
              <th style="font-weight: bold;padding:12px;">No.</th>
              <th style="font-weight: bold;padding:12px;">Date</th>
              <th style="font-weight: bold;padding:12px;">Time</th>
              <th style="font-weight: bold;padding:12px;">Name</th>
              <th style="font-weight: bold;padding:12px;">Category</th>
              <th style="font-weight: bold;padding:12px;">Suggestion</th>
              <th style="font-weight: bold;padding:12px;">Status</th>
              <th style="font-weight: bold;padding:12px;">Action</th>
          </thead>
          <tbody>
            {% for suggestion in all_suggestions %}
            <tr class="text-center">
              <td style={"padding":"2px 5px"}>{{ forloop.counter }}.</td>
              <td >{{ suggestion.created_at|date:'d-m-Y' }}</td>
              <td >{{ suggestion.created_at|time:"g:i A" }}</td>
              <td >{{ suggestion.name|default:"Anonymous"|capfirst }}</td>
              <td >{{ suggestion.suggestion_category|default:"General"|capfirst }}</td>
              <td >  {{suggestion.suggestion|slice:"0:20"}} <a  data-bs-toggle="modal" data-bs-target="#meta-{{forloop.counter}}" style="color: blue; size: 10px;">...more
              </a>  </td>
              <td>{{suggestion.suggestion_status}} 
              </td>
              <td> <a  data-toggle="modal" data-target="#exampleModal" onclick="formedit(this.id)" id="f{{suggestion.id}}" > <i class="fa fa-pencil" style="margin-left: 4px;"></i>
              </a>
              <a  data-toggle="modal" data-target="#exampleModal" onclick="versionhistory(this.id)" id="f{{suggestion.id}}" > <i class="fa fa-history" style="margin-left: 4px;"></i>
              </a>
            </td>
            </tr>
            {% endfor %}            
          </tbody>
        </table>
        {% endif %}             
      </div>
    </div>
  </div>
    
</div>

{% endblock content %}

{% block addextra %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'suggestions/js/main2.js' %}"></script>

{% endblock addextra %}


