{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feedback</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'suggestions/images/icons/favicon.ico' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'suggestions/vendor/bootstrap/css/bootstrap.min.css'  %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'suggestions/vendor/animate/animate.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'suggestions/vendor/css-hamburgers/hamburgers.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'suggestions/vendor/animsition/css/animsition.min.css' %}"
    />
    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'suggestions/css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'suggestions/css/main.css' %}" />
    <!--===============================================================================================-->
  </head>
  <body>
    {% block content %}{% endblock %}
    <!--===============================================================================================-->
    <script src="{% static 'suggestions/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'suggestions/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'suggestions/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'suggestions/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->

    <script src="{% static 'suggestions/js/main.js' %}"></script>
  </body>
</html>
