{% for data in boarding_row_history %}
    {% if data.details_id == 1 %}
        <tr>
            <td style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width=20%>{{ data.history_date }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.employee_name }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.email_account }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.skype_id }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.joining_documnents }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.nda_signed }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.induction }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.history_user }}</td>

            {% if data.history_type == "+" %}
            <td  style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width="10%">Created</td>  
            {% elif data.history_type == "~" %}
            <td  style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width="10%">Updated</td> 
            {% else %}
            <td  style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width="10%">Deleted</td>   
            {% endif %}  

            <td class="name" width=10% style="display: none;">{{ data.joining_date }}</td>
            <td class="name" width=10% style="display: none;">{{ data.loi }}</td>
            <td class="name" width=10% style="display: none;">{{ data.offer_letter }}</td>
            <td class="name" width=10% style="display: none;">{{ data.joining_hamper }}</td>
            <td class="name" width=10% style="display: none;">{{ data.add_to_skype_group }}</td>
            <td class="name" width=10% style="display: none;">{{ data.add_to_whatsapp_group }}</td>
            <td class="name" width=10% style="display: none;">{{ data.microsoft_account_created }}</td>
            <td class="name" width=10% style="display: none;">{{ data.system_configuration }}</td>
            <td class="name" width=10% style="display: none;">{{ data.add_upwork_account_to_team }}</td>
            <td class="name" width=10% style="display: none;">{{ data.add_upwork_account }}</td>
            <td class="name" width=10% style="display: none;">{{ data.onedrive_access }}</td>
            <td class="name" width=10% style="display: none;">{{ data.id_card }}</td>
            <td class="name" width=10% style="display: none;">{{ data.laptop_charger }}</td>
            <td class="name" width=10% style="display: none;">{{ data.mouse_mousepad }}</td>
            <td class="name" width=10% style="display: none;">{{ data.bag }}</td>
            <td class="name" width=10% style="display: none;">{{ data.gmail_account }}</td>
            <td class="name" width=10% style="display: none;">{{ data.joining_letter }}</td>
            <td class="name" width=10% style="display: none;">{{ data.id }}</td>
            <td class="name" width=10% style="display: none;">{{ data.history_id }}</td>
            <td width="5%" class="details-control details-control1" id="details-control1" style="padding: 2px 5px; text-align:center; cursor: pointer; font-size: 15px;"></td>
        </tr>

    {% else %}
        <tr>
            <td style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width=20%>{{ data.history_date }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.employee_name }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.email_account }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.relieving_letter }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.experience_letter }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.nda_signed }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.onedrive_access }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.skype_id }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.id_card }}</td>
            <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.history_user }}</td>

            {% if data.history_type == "+" %}
            <td  style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width="10%">Created</td>  
            {% elif data.history_type == "~" %}
            <td  style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width="10%">Updated</td> 
            {% else %}
            <td  style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width="10%">Deleted</td>   
            {% endif %}  

            <td class="name" width=10% style="display: none;">{{ data.last_working_date }}</td>
            <td class="name" width=10% style="display: none;">{{ data.remove_from_skype_group }}</td>
            <td class="name" width=10% style="display: none;">{{ data.remove_from_whatsapp_group }}</td>
            <td class="name" width=10% style="display: none;">{{ data.microsoft_account_deleted }}</td>
            <td class="name" width=10% style="display: none;">{{ data.system_format }}</td>
            <td class="name" width=10% style="display: none;">{{ data.remove_upwork_account_from_team }}</td>
            <td class="name" width=10% style="display: none;">{{ data.close_upwork_account }}</td>
            <td class="name" width=10% style="display: none;">{{ data.laptop_charger }}</td>
            <td class="name" width=10% style="display: none;">{{ data.mouse_mousepad }}</td>
            <td class="name" width=10% style="display: none;">{{ data.bag }}</td>
            <td class="name" width=10% style="display: none;">{{ data.gmail_account }}</td>
            <td class="name" width=10% style="display: none;">{{ data.fnf }}</td>
            <td class="name" width=10% style="display: none;">{{ data.id }}</td>
            <td class="name" width=10% style="display: none;">{{ data.history_id }}</td>
            <td width="5%" class="details-control" style="padding: 2px 5px; text-align:center; cursor: pointer; font-size: 15px;"></td>
        </tr>

    {% endif %}
{% endfor %}



