{% extends 'home/base.html' %}
{% load static %}

{% block title %} Operations {% endblock title %}


{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-5 mt-3" style="overflow-y: scroll;">

    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/employee_onboarding.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:tshirt_inventory' %}" class="card-title">T-Shirt Inventory</a></h5>
          <p class="card-text">Manage food Inventory, find tables and data for the available stock and requirements.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/employee_offboarding.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:Boarding' %}" class="card-title">On-Boarding & Off-Boarding</a></h5>
          <p class="card-text">Manage Maintenance stuff consisting joining and exit formalities etc.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/party.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:officeEvents' %}" class="card-title">Office Events</Inp></a></h5>
          <p class="card-text">Manage Inventory for the new employee joining kit, consisting T-shirts, systems, ID cards, etc.</p>
        </div>
      </div>
    </div>


{% endblock content %}
