{% extends 'home/base.html' %}
{% load static %}

{% block title %} Operations {% endblock title %}


{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-5 mt-3" style="overflow-y: scroll;">
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/snack.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:inventory_recurring' %}" class="card-title">Recurring</a></h5>
          <p class="card-text">Manage Inventory, stuff consisting daily, recurring, stationary, cleaning etc.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/pantry.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:inventory_adhoc' %}" class="card-title">Adhoc</Inp></a></h5>
          <p class="card-text">Manage Inventory for the adhoc products like electronics, furniture, crockery etc.</p>
        </div>
      </div>
    </div>


{% endblock content %}
