{% extends 'home/base.html' %}
{% load static %}

{% block title %} Operations-Food Inventory {% endblock title %}

{% block style %}


<!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->

<link href="{% static  'css/compiled-4.19.2.min.css' %}" rel="stylesheet">

<link href="{% static 'css/food_inventory.css' %}" rel="stylesheet">

{% endblock style %}

{% block navbar_content %}

<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="{% url 'home:home_view' %}" class="nav-link text-white" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home" />
            </svg>
            Home
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white active">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table" />
            </svg>
            Operations
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#grid" />
            </svg>
            Daily Stuff
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#people-circle" />
            </svg>
            Logout
        </a>
    </li>
</ul>

{% endblock navbar_content %}


{% block content %}

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8" id="foodtitle">
                        <h2><b>Maintenance</b></h2>
                    </div>
                    <div class="col-sm-4" style="padding: 10px;">
                        <button type="button" class="add-new button5" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" style="background-color: #007bff">
                            +</button>
                    </div>

                    <form method="POST" action="{% url 'operations:addProducts' %}" id="foodForm">
                        {% csrf_token %}
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Add New Item</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row g-3">
                                            {% for field in addProductsForm %}
                                            <div class="col-sm" style="text-align: left; font-size: 12px;">
                                                <b>{{ field.label }}</b>
                                                {{ field }}
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <input type="submit" value="Add" class="btn btn-primary">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="POST" id="editForm">
                        {% csrf_token %}

                        <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Update Item</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row g-3">
                                            {% for field in editProductsForm %}
                                            <div class="col-sm" style="text-align: left; font-size: 12px;">
                                                <b>{{ field.label }}</b>
                                                {{ field }}
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <input type="submit" value="Update" class="btn btn-primary">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="POST" id="deleteForm">
                        {% csrf_token %}
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content"
                                    style="width: 400px; margin-top: auto;justify-content: center;  margin-left: auto; ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this product?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            {% regroup products|dictsort:'type' by type as product_list %}

            <div class="tabset">
                <!-- Tab 1 -->
                <input type="radio" name="tabset" id="defaultOpen" class="tablinks" onclick="openTab(event, 'Snacks')">
                <label for="defaultOpen">Stationary</label>
                <!-- Tab 2 -->
                <input type="radio" name="tabset" id="tab2" class="tablinks" aria-controls="Beverages" onclick="openTab(event, 'Beverages')">
                <label for="tab2">Cleaning Products</label>
                <!-- Tab 3 -->
                <input type="radio" name="tabset" id="tab3" class="tablinks" aria-controls="Others" onclick="openTab(event, 'Others')">
                <label for="tab3">Others</label>

                <div class="tab-panels">
                    {% for product_type in product_list %}
                    <section class="tab-panel" id={{ product_type.grouper }}>

                        <div class="tbl-header table-hover">
                            <table cellpadding="0" cellspacing="0" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width=25%>Product name</th>
                                        <th width=15%>Quantity</th>
                                        <th width=10%>Price</th>
                                        <th width=20%>Last Order Date</th>
                                        <th width=20%>Expected Order Date</th>
                                        <th width=10%>Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tbl-content table" style="border-bottom: px;">
                            <table>
                                <tbody>
                                    {% for rows in product_type.list %}
                                    <tr>
                                        <td class="name font-weight-bold" width=25%>{{ rows.product }}</td>
                                        <td class="name" width=15%>{{ rows.quantity }}</td>
                                        <td class="name" width=10%>{{ rows.price }}</td>
                                        <td class="last-date" width=20%>{{ rows.last_order_date }}</td>
                                        <td class="last-date" width=20%>{{ rows.expected_order_date }}</td>
                                        <td width=10%>
                                            <a id='edit/{{ rows.id }}' onclick=editfunction(this) data-bs-toggle="modal" data-bs-target="#editModal" title="Edit" style="color: #FFC107"><i class="material-icons">&#xE254;</i></a>
                                            <a id='delete/{{ rows.id }}' onclick=deletefunction(this) data-bs-toggle="modal" data-bs-target="#deleteModal" title="Delete" style="color: #E34724"><i class="material-icons">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                    {% endfor %}
                </div>

            

            </div>


        </div>
    </div>
</div>
</div>


{% endblock content %}


{% block addextra %}

<!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/food_inventory.js' %}"></script>

{% endblock addextra %}