{% extends 'home/base.html' %}
{% load static %}

{% block title %} Operations {% endblock title %}


{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-5 mt-3" style="overflow-y: scroll;">

    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/calendar.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:pantry_recurring' %}" class="card-title">Adhoc</a></h5>
          <p class="card-text">Manage food Inventory, find tables and data for the available stock and requirements.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/stationary.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:mro_recurring' %}" class="card-title">MRO-Recurring</a></h5>
          <p class="card-text">Manage Maintenance stuff consisting certificates, trophies, stationary, etc.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/seller.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:mro_maintenance_vendor' %}" class="card-title">MRO-Vendor</Inp></a></h5>
          <p class="card-text">Manage Inventory for the new vendor services and contact details.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="{% static 'img/pantry.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'operations:mro_maintenance_service' %}" class="card-title">MRO-Repair/Service</Inp></a></h5>
          <p class="card-text">Manage Inventory for all the services taken as well vendor contact details.</p>
        </div>
      </div>
    </div>


{% endblock content %}
