{% extends 'home/base.html' %}
{% load static %}


{% block title %} Operations-T-shirt-Inventory {% endblock title %}

{% block style %}


<!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="{% static  'css/compiled-4.19.2.min.css' %}" rel="stylesheet">

<link href="{% static 'css/inventory.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>


<!-- <link href=
"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
         rel="stylesheet"> -->

{% endblock style %}



{% block content %}

<div class="container-lg" style="overflow-y: scroll;">
    <div>
        <div>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="{% static 'img/employee_onboarding.svg' %}" height="100%" width="100%" alt="...">
                    </div>
                    <div class="col-sm-7" id="foodtitle">
                        <h2><b>T-Shirt Inventory</b></h2>
                        <p style="color: black;">Manage food Inventory, find tables and data for the available stock and requirements.</p>
                    </div>
                    <div class="col-sm-4" style="padding: 15px;">
                        <button type="button" class="add-new button5" id="addNew" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" style="background-color: #2f8669; margin-left: 10px;">
                            +</button>
                    </div>

                    <form method="POST" action="{% url 'operations:addTshirts' %}"  id="addTshirtForm"
                    data-edit-url="{% url 'operations:ajax_load_tshirtData' %}" data-users-url="{% url 'operations:ajax_load_tshirt_inventory_users' %}"
                        class="needs-validation">
                        {% csrf_token %}

                        {{addTshirtFormSet.management_form}}

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #1D5E3E; color: white;">
                                        <h5 class="modal-title" id="staticBackdropLabel">Add New Items</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row g-3">
                                            
                                        <div class="add-tshirt-container">

                                                <div class="row" style="margin-left: 5px;">
                                                    <div class="col-2 form-label font-weight-bold" style="padding: 0px; margin-bottom: 2px; color: #1A9239;;">Status</div>
                                                    <div class="col-3" style="margin-bottom: 15px; padding: 0px;">
                                                    <select id="id_status" class="form-select" required>
                                                        <option value selected>-------</option>
                                                        <option value="ordered">Ordered</option>
                                                        <option value="received">Received</option>
                                                    </select>
                                                </div>
                                                </div>
                                                
                                                <hr class="font-weight-bold">
                                               

                                                    <div class="row add-form-container" style="margin-left: 3px;">
                                                        <div class="col-6" style="padding-left: 0;" id="order_date">
                                                            <div class="form-label font-weight-bold" style="padding: 0px; margin-bottom: 2px; font-size: 12px; color: #1A9239;;">                                                           
                                                                {{ addTshirtFormSet.0.order_date.label }}</div>
                                                            <div style="margin-bottom: 15px; padding: 0px;">
                                                                {{ addTshirtFormSet.0.order_date }}
                                                                {{ addTshirtFormSet.0.order_date.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="col-6" id="tshirt_receiving_date">
                                                            <div class="form-label font-weight-bold" style="padding: 0px; margin-bottom: 2px; font-size: 12px; color: #1A9239;;">                                                           
                                                                {{ addTshirtFormSet.0.receiving_date.label }}</div>
                                                            <div style="margin-bottom: 15px; padding: 0px;">
                                                                {{ addTshirtFormSet.0.receiving_date }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr class="font-weight-bold">

                                                    <div class="row">

                                                    <div class="col">
                                                    <table class="productTable" style="height: auto;" id="table1">
                                                        <thead class="table tbl-header table-bordered" style="background-color: #EAFBE9;">
                                                            <tr>
                                                                <th style="padding: 10px;  color: #1A9239;">Size</th>
                                                                <th style="padding: 10px;  color: #1A9239;">Prev. Stock</th>
                                                                <th style="padding: 10px;  color: #1A9239;">Ordered Qty</th>
                                                                
                                                            </tr>
                                                        </thead>


                                                        <tbody class="table" id="tbody1">
                                                            <tr>
                                                                <td class="tshirt-size">{{ addTshirtFormSet.0.size }}</td>
                                                                <td>{{ addTshirtFormSet.0.previous_stock }}</td>
                                                                <td class="tshirt_ordered_quantity">{{ addTshirtFormSet.0.ordered_quantity }}</td>
                                                            </tr>          
                                                            <tr>
                                                                <td class="tshirt-size">{{ addTshirtFormSet.1.size }}</td>
                                                                <td>{{ addTshirtFormSet.1.previous_stock }}</td>
                                                                <td class="tshirt_ordered_quantity">{{ addTshirtFormSet.1.ordered_quantity }}</td>
                                                            </tr>         
                                                            <tr>
                                                                <td class="tshirt-size">{{ addTshirtFormSet.2.size }}</td>
                                                                <td>{{ addTshirtFormSet.2.previous_stock }}</td>
                                                                <td class="tshirt_ordered_quantity">{{ addTshirtFormSet.2.ordered_quantity }}</td>
                                                            </tr>          
                                                            <tr>
                                                                <td class="tshirt-size">{{ addTshirtFormSet.3.size }}</td>
                                                                <td>{{ addTshirtFormSet.3.previous_stock }}</td>
                                                                <td class="tshirt_ordered_quantity">{{ addTshirtFormSet.3.ordered_quantity }}</td>
                                                            </tr>          
                                                            <tr>
                                                                <td class="tshirt-size">{{ addTshirtFormSet.4.size }}</td>
                                                                <td>{{ addTshirtFormSet.4.previous_stock }}</td>
                                                                <td class="tshirt_ordered_quantity">{{ addTshirtFormSet.4.ordered_quantity }}</td>
                                                            </tr>          
                                                            <tr>
                                                                <td class="tshirt-size">{{ addTshirtFormSet.5.size }}</td>
                                                                <td>{{ addTshirtFormSet.5.previous_stock }}</td>
                                                                <td class="tshirt_ordered_quantity">{{ addTshirtFormSet.5.ordered_quantity }}</td>
                                                            </tr>                                                             
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="col" id="tshirt_received_data">
                                                    <table class="productTable" style="height: auto;" id="table2">
                                                        <thead class="table tbl-header table-bordered" style="background-color: #EAFBE9;">
                                                            <tr>
                                                                <th style="padding: 10px;  color: #1A9239;" class="tshirt_received_quantity_header">Received Qty.</th>
                                                                <th style="display: none;"></th>
                                                                <th style="padding: 10px;  color: #1A9239; display: none;">Previous Stock</th>
                                                                <th style="padding: 10px;  color: #1A9239;">Total Qty.</th>
                                                                <th style="padding: 10px;  color: #1A9239;" class="tshirt_allotted_header">Allotted</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody class="table" id="tbody2">
                                                            <tr> 
                                                                <td class="tshirt_received_quantity">{{ addTshirtFormSet.0.received_quantity }}</td>
                                                                <td style="display: none;">{{ addTshirtFormSet.0.previous_stock }}</td>
                                                                <td class="tshirt_total_quantity">{{ addTshirtFormSet.0.total_quantity }}</td>
                                                                {% if addTshirtFormSet.0.total_quantity.value  == 0 %}
                                                                    <td class="tshirt_allotted disable_allotted">{{ addTshirtFormSet.0.allotted }}</td>
                                                                {% else %}
                                                                    <td class="tshirt_allotted">{{ addTshirtFormSet.0.allotted }}</td>
                                                                {% endif %}
                                                                <td class="tshirt_error_message">{{ addTshirtFormSet.0.error_message }}</td>
                                                            </tr>          
                                                            
                                                            <tr>
                                                                <td class="tshirt_received_quantity">{{ addTshirtFormSet.1.received_quantity }}</td>
                                                                <td style="display: none;">{{ addTshirtFormSet.1.previous_stock }}</td>
                                                                <td class="tshirt_total_quantity">{{ addTshirtFormSet.1.total_quantity }}</td>
                                                                {% if addTshirtFormSet.1.total_quantity.value  == 0 %}
                                                                    <td class="tshirt_allotted disable_allotted">{{ addTshirtFormSet.1.allotted }}</td>
                                                                {% else %}
                                                                    <td class="tshirt_allotted">{{ addTshirtFormSet.1.allotted }}</td>
                                                                {% endif %}
                                                                <td class="tshirt_error_message">{{ addTshirtFormSet.1.error_message }}</td>
                                                            </tr>         
                                                            <tr>
                                                                <td class="tshirt_received_quantity">{{ addTshirtFormSet.2.received_quantity }}</td>
                                                                <td style="display: none;">{{ addTshirtFormSet.2.previous_stock }}</td>
                                                                <td class="tshirt_total_quantity">{{ addTshirtFormSet.2.total_quantity }}</td>
                                                                {% if addTshirtFormSet.2.total_quantity.value  == 0 %}
                                                                    <td class="tshirt_allotted disable_allotted">{{ addTshirtFormSet.2.allotted }}</td>
                                                                {% else %}
                                                                    <td class="tshirt_allotted">{{ addTshirtFormSet.2.allotted }}</td>
                                                                {% endif %}
                                                                <td class="tshirt_error_message">{{ addTshirtFormSet.2.error_message }}</td>
                                                            </tr>          
                                                            <tr>
                                                                <td class="tshirt_received_quantity">{{ addTshirtFormSet.3.received_quantity }}</td>
                                                                <td style="display: none;">{{ addTshirtFormSet.3.previous_stock }}</td>
                                                                <td class="tshirt_total_quantity">{{ addTshirtFormSet.3.total_quantity }}</td> 
                                                                {% if addTshirtFormSet.3.total_quantity.value  == 0 %}
                                                                    <td class="tshirt_allotted disable_allotted">{{ addTshirtFormSet.3.allotted }}</td>
                                                                {% else %}
                                                                    <td class="tshirt_allotted">{{ addTshirtFormSet.3.allotted }}</td>
                                                                {% endif %}
                                                                <td class="tshirt_error_message">{{ addTshirtFormSet.3.error_message }}</td>
                                                            </tr>          
                                                            <tr>
                                                                <td class="tshirt_received_quantity">{{ addTshirtFormSet.4.received_quantity }}</td>
                                                                <td style="display: none;">{{ addTshirtFormSet.4.previous_stock }}</td>
                                                                <td class="tshirt_total_quantity">{{ addTshirtFormSet.4.total_quantity }}</td>
                                                                {% if addTshirtFormSet.4.total_quantity.value  == 0 %}
                                                                    <td class="tshirt_allotted disable_allotted">{{ addTshirtFormSet.4.allotted }}</td>
                                                                {% else %}
                                                                    <td class="tshirt_allotted">{{ addTshirtFormSet.4.allotted }}</td>
                                                                {% endif %}
                                                                <td class="tshirt_error_message">{{ addTshirtFormSet.4.error_message }}</td>
                                                            </tr>          
                                                            <tr>
                                                                <td class="tshirt_received_quantity">{{ addTshirtFormSet.5.received_quantity }}</td>
                                                                <td style="display: none;">{{ addTshirtFormSet.5.previous_stock }}</td>
                                                                <td class="tshirt_total_quantity">{{ addTshirtFormSet.5.total_quantity }}</td>
                                                                {% if addTshirtFormSet.5.total_quantity.value  == 0 %}
                                                                    <td class="tshirt_allotted disable_allotted">{{ addTshirtFormSet.5.allotted }}</td>
                                                                {% else %}
                                                                    <td class="tshirt_allotted">{{ addTshirtFormSet.5.allotted }}</td>
                                                                {% endif %}
                                                                <td class="tshirt_error_message">{{ addTshirtFormSet.5.error_message }}</td>
                                                                </tr>                                                             
                                                        </tbody>
                                                    </table>
                                                </div>

                                                </div>

                                                    <hr class="font-weight-bold">
                                                    <br>

                                                    <div class="row" style="margin-left: 5px;" id="amount">
                                                        <div class="col-3 form-label font-weight-bold" style="padding: 0px; margin-bottom: 2px; color: #1A9239;;">                                                           
                                                            {{ addTshirtFormSet.0.amount.label }}</div>
                                                        <div class="col-3" style="margin-bottom: 15px; padding: 0px;">
                                                            {{ addTshirtFormSet.0.amount }}
                                                        </div>
                                                    </div>

                                                    <div class="row" style="margin-left: 5px;" id="paid_by">
                                                        <div class="col-3 form-label font-weight-bold" style="padding: 0px; margin-bottom: 2px; color: #1A9239;;">                                                           
                                                            {{ addTshirtFormSet.0.paid_by.label }}</div>
                                                        <div class="col-3" style="margin-bottom: 15px; padding: 0px;">
                                                            {{ addTshirtFormSet.0.paid_by }}
                                                        </div>
                                                    </div>

                                                    <div class="row" style="margin-left: 5px; display: none;" id="add_name">
                                                        <div class="col-3 form-label font-weight-bold" style="padding: 0px; margin-bottom: 2px; color: #1A9239;;">                                                           
                                                            {{ addTshirtFormSet.0.add_name.label }}</div>
                                                        <div class="col-3" style="margin-bottom: 15px; padding: 0px;">
                                                            {{ addTshirtFormSet.0.add_name }}
                                                        </div>
                                                    </div>

                                                    <div class="row" style="margin-left: 5px;" id="additional">
                                                        <div class="col-3 form-label font-weight-bold" style="padding: 0px; margin-bottom: 2px; color: #1A9239;;">                                                           
                                                            {{ addTshirtFormSet.0.additional.label }}</div>
                                                        <div class="col-6" style="margin-bottom: 15px; padding: 0px; height: 10px;">
                                                            {{ addTshirtFormSet.0.additional }}
                                                        </div>
                                                    </div>
                                                    
                                                      
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" name="addButton" value="Add" id="submitButton"
                                            class="btn" style="background-color: #1C923C; color: white;">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="POST" id="deleteTshirtForm">
                        {% csrf_token %}
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content"
                                    style="width: 400px; margin-top: auto;justify-content: center;  margin-left: auto; ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this products?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btnStyle"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btnStyle">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <form method="POST" enctype="multipart/form-data" id="importTshirtForm" action="{% url 'operations:import_tshirt' %}">
                        {% csrf_token %}
                        <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content"
                                    style="width: 400px; margin-top: auto;justify-content: center;  margin-left: auto; ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Import</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body row">
                                        {%for field in importForm%}
                                            {%if field.field.widget.input_type == 'file'%}
                                                <div class="form-group mb-0 files col-10">
                                                    {{field}}
                                                </div>
                                            {%else%}
                                                {{field}}
                                            {%endif%}
                                        {%endfor%}
                                        <div class="col-2">
                                            <i class="fa fa-info-circle fa-lg info"></i>
                                        </div>
                                    </div>
                                    <!-- <p style="color: darkblue; font-size: 10px; margin-left: 20px;">Choose CSV file :)</p> -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btnStyle" id="submitBtn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true" data-history-url="{% url 'operations:tshirt_row_history' %}" data-bs-keyboard="false" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content" style="justify-content: center;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="historyModalLabel">Version History</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="historyTable1" id="historyTableId" data-previous-url="{% url 'operations:ajax_load_previous_tshirt_history' %}">
                                        <thead class="table tbl-header table-bordered">
                                            <tr>
                                                <th width=20% style="padding: 12px; text-align:center;">History Date</th>
                                                <th width=5% style="padding: 12px; text-align:center;">Size</th>
                                                <th width=12% style="padding: 12px; text-align:center;">Previous Stock</th>
                                                <th width=12% style="padding: 12px; text-align:center;">Ordered Qty</th>
                                                <th width=18% style="padding: 12px; text-align:center;">User</th>
                                                <th width=10% style="padding: 12px; text-align:center;">Action</th>
                                                <th width=14% style="display: none;">Order Date</th>
                                                <th width=14% style="display: none;">Receiving Date</th>
                                                <th width=14% style="display: none;">Total Quantity</th>
                                                <th width=14% style="display: none;">Allotted</th>
                                                <th width=10% style="display: none;">Remaining</th>
                                                <th width=14% style="display: none;">Amount</th>
                                                <th width=14% style="display: none;">Paid By</th>
                                                <th width=14% style="display: none;">Additional</th>                                    
                                                <th id="rowId" style="display: none;">Id</th>
                                                <th id="rowHistoryId" style="display: none;">History Id</th>
                                                <th width="5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbl-content table table-bordered" id="tbody-content">
                                        </tbody>
                                    </table>
                                </div>  
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <form>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <input type="button" class="btn" style="padding: 5px; background-color: #5f4266; color: white;" value="Back" onclick="history.back()">
    </form>


    <div class="table-responsive">
        <div class="table-wrapper1">
            <div class="table-title">
                <div>
                {% regroup tshirtData by receiving_date as groupedData %}
                    <span style="float: left;">
                        <span style="margin-left: 3px;">Order date:</span>
                        <input style="margin-left: 30px;" type="date" class="inventory_datepicker_1" id="pur_min_1" name="pur_min_1" data-attr-type="pur"/> to <input type="date" class="inventory_datepicker_1" id="pur_max_1" name="pur_max_1" data-attr-type="pur"/>
                    </span>
                    <a type="button" href="{% url 'operations:tshirt_history' %}"><button style="background-color: #5f4266; color: white; float: right;margin: 6px; padding: 8px; border-radius: 3px; padding-left: 14px; padding-right: 14px; border: 1px solid #635e5e; font-size: 14px;">
                        <span><i class="fa fa-history" aria-hidden="true"></i></span></i><span style="margin-left: 5px;">History</span>
                    </button>
                    </a>

                    <button data-bs-toggle="modal" data-bs-target="#importModal" style="background-color: #5f4266; color: white; float: right;margin: 6px; padding: 8px; border-radius: 3px; padding-left: 14px; padding-right: 14px; border: 1px solid #635e5e; font-size: 14px;">
                        <span>Import</span>
                    </button>
                    <br>
                    <span style="float: left;">
                        <span style="margin-left: 3px;">Receiving date:</span>
                        <input type="date" class="inventory_datepicker_1" id="next_min_1" name="next_min_1" data-attr-type="next"/> to <input type="date" class="inventory_datepicker_1" id="next_max_1" name="next_max_1" data-attr-type="next"/>
                    </span>
                
                    <span style="float: left; margin-left: 5px;">
                        <i data-section-id="1" class="daterefresh fa fa-rotate-right" aria-hidden="true"></i>
                    </span>
                    <br>
                    <section id='1'>

                        <table class="productTable1">

                            <thead class="table tbl-header table-bordered">
                                <tr>
                                    <th width=15% style="padding: 12px; text-align:center;">Order Date</th>
                                    <th width=15% style="padding: 12px; text-align:center;">Receiving Date</th>
                                    <th width=5% style="padding: 12px; text-align:center;">Size</th>
                                    <th width=5% style="display: none;">Previous Stock</th>
                                    <th width=12% style="padding: 12px; text-align:center;">Ordered Quantity</th>
                                    <th width=14% style="padding: 12px; text-align:center;">Total Quantity</th>
                                    <th width=14% style="padding: 12px; text-align:center; display: none;">Allotted</th>
                                    <th width=10% style="padding: 12px; text-align:center;">Remaining</th>
                                    <th width=18% style="display: none;">Amount</td>
                                    <th width=18% style="display: none;">Paid By</td>
                                    <th width=18% style="padding: 12px; text-align:center;">Additional</td>
                                    <td class="name" style="display: none;"> </td>
                                    <th width=10% style="padding: 12px; width: 6% !important;">Action</th>
                                </tr>
                            </thead>

                            <tbody class="tbl-content table table-bordered">
                                {% for group in groupedData %}
                                    {% for data in group.list %}
                                    <tr>
                                        <td style="vertical-align : middle;text-align:center; border-left: 2px solid #007bff; padding: 2px 5px;" class="name font-weight-bold" width=15%>
                                        {{ data.order_date }}</td>
                                        <td style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name font-weight-bold" width=15%>
                                            {{ data.receiving_date }}</td>
                                        <td class="name" width=12% style="padding: 2px 5px; text-align:center;">{{ data.size }}</td>
                                        <td class="name" width=12% style="display: none;">{{ data.previous_stock }}</td>
                                        <td class="name" width=12% style="padding: 2px 5px; text-align:center;">{{ data.ordered_quantity }}</td>
                                        <td class="name" width=10% style="padding: 2px 5px; text-align:center;">{{ data.total_quantity }}</td>
                                        <td class="name" width=10% style="padding: 2px 5px; text-align:center; display: none;">{{ data.allotted }}</td>
                                        <td class="name" width=12% style="padding: 2px 5px; text-align:center;">{{ data.remaining }}</td>
                                        <td class="name" style="display: none;">{{ data.amount }}</td>
                                        <td class="name" style="display: none;">{{ data.paid_by }}</td>
                                        <td  style="vertical-align : middle;text-align:center; padding: 2px 5px;" class="name" width="15%">{{ data.additional }}</td>   
                                        <td class="name" style="display: none;"> 1 </td> 
                                        {% ifchanged data.order_date %}
                                        <td rowspan="{{ group.list|length }}" style="padding: 2px 5px;">
                                            <div class="dropout" style="z-index: 1;">
                                                <button class="more">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </button>
                                                <ul>
                                                    <li><a id='tshirt_inventory/edit/{{ data.id }}' onclick=editfunction(this) data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                        <span>Edit</span></a> 
                                                    </li>
                                                    <hr style="color: #FFF; padding: 0px; margin: 0px;">
                                                    <li><a id='tshirt_inventory/delete/{{ data.id }}' onclick=deletefunction(this) data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                        <span>Delete</span></a>
                                                    </li>
                                                    <hr style="color: #FFF; padding: 0px; margin: 0px;">
                                                    <li><a id='tshirt_inventory/history/{{ data.id }}' onclick=historyfunction(this,"{{ data.order_date }}") data-bs-toggle="modal" data-bs-target="#historyModal"><span>History</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        {% else %}
                                        <td style="display: none"></td>
                                        {% endifchanged %}
                                    </tr>
                                    {% endfor %}

                                {% endfor %}
                               
                            </tbody>
                    
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}


{% block addextra %}


<!-- <script src="../assets/dist/js/bootstrap.bundle.min.js">0</script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- <script src="{% static 'js/food_inventory.js' %}"></script> -->
<script src="{% static 'js/tshirt_inventory.js' %}"></script>



<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


<script src="{% static 'js/dataTables.rowsGroup.js' %}"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>


<!-- <script  src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src=
"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js">
        </script>
        <script src="{% static 'js/fancyTable.js' %}"></script>
        </script>
        <script type="text/javascript">
              
            $(document).ready(function() {
                $(".productTable1").fancyTable({
                  /* Column number for initial sorting*/
                   sortColumn:0,
                   /* Setting pagination or enabling */
                   pagination: true,
                   /* Rows per page kept for display */
                   perPage:3,
                   globalSearch:true
                   });
                              
            });
        </script> -->


{% endblock addextra %}