body{
    background: #F5F7FA;
    /* overflow-x: scroll; */
  }
  

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    /* margin-bottom: 15px; */
  }

table{
  width:100%;
  height: 100%;
  table-layout: fixed;
}

/* .tbl-content tr:hover{
  background-color: lightgray;
} */

.tbl-header{
  /* background-color: #007bff; */
  background-color: #F0F0F0;
  /* margin-bottom: 0px; */
  }

.tbl-content{
  max-height:300px;
  overflow-x:scroll;
  margin-top: 0px;
  background: #FFF;
  /* border-left: 2px solid #007bff; */
  border-left: 2px solid #F0F0F0;
  box-shadow:5px 5px 5px 5px rgba(0,0,0,0.1);
}

table tr th{
  /* padding: 10px 5px 10px 5px; */
  padding: 0px;
  /* text-align: left; */
  font-weight: 600;
  font-size: 14px;
  color:black;
  text-transform: capitalize;
}

td{
  /* padding: 5px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  vertical-align:middle !important;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 5px;
}

/* 
table tr:nth-of-type(6n) td {
  border-bottom: 10px solid #0000;
} */


section{
  margin: 5px;
}

/* .modal1::before {
    display: inline-block;
    height: 100%;    
    margin-right: 20%;
    vertical-align: middle;
  }
   
 .modal-dialog1 { 
  display: inline-block;  
  text-align: center;   
  vertical-align: middle;
} 
    
.modal-content1{
  width: 1200px;
  margin-top: 40%;
  margin-left: 30%;
} */

/* .table-wrapper {
  width: auto;
  margin: 30px auto;
  background: #fff;
  padding: 20px;	
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
} */

/* for custom scrollbar for webkit browser*/

/* ::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(146, 140, 140, 0.507); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #007bff; 
} */


.table-wrapper1 {
  width: auto;
  margin: 5px auto;
  background: #fff;
  padding: 5px;	
  /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }


.add-new{
  background-color: #2f8669;
  /* background-color: #007bff; */
  color: #fff;
}

#deleteForm{
  text-align: center;
}

#foodtitle{
  height: 50px ;
  color: #057333;
}

#foodtitle > h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-size: 40px;
}
 

  /*
  CSS for the main interaction
*/

.tabset{
  margin-top: 5px;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}


.tabset > label {
  position: relative;
  display: inline-block;
  padding: 10px 25px 10px;
  border: 2px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #2f8669;
  /* color: #a4cb3b; */

}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #2f8669;
  /* background: #a4cb3b; */
}

.tabset > input:checked + label {
  border-color: #2f8669;
  /* border-color: #a4cb3b; */
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 5px 0;
  border-top: 2px solid #2f8669;
  /* border-top: 2px solid #a4cb3b; */
}


<<<<<<< Updated upstream:operations/static/css/food_inventory.css

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}



/* 
.details-control:after{
  content: "\002B";
  cursor: pointer;
}
 */


 td.details-control:after {
  /* background: url('../static/img/plus-positive-add.png') no-repeat center center; */
  content: '\002B';
  cursor: pointer;
}

tr.details td.details-control:after {
  content: "\2212";
}


.buttons-csv{
  float: right;
  background-color: red;
}




.three-dots:after {
  cursor: pointer;
  color: #FCC;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

/* a {
  text-decoration: none;
  color: white;
} */

a div {
  padding: 2px;
}

.dropdown {
  /* position: absolute;
  right: 10px; */
  background-color: #66D;
  box-shadow: 0px 0px 3px 3px #66D;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, 
  z-index 0.1s, 
  /* max-height: 5s; */
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  /* transition: opacity 0.2s, z-index 0.2s,  */
}
=======
#id_paid_by option:last-child {
color: #007bff;
font-weight: bold;
}

#paid_by option:last-child {
color: #007bff;
font-weight: bold;
}
>>>>>>> Stashed changes:operations/static/css/inventory.css
