header{margin:0;
padding:0;
box-sizing: border-box;
}

section{
background-image: linear-gradient(rgba(0.8,0,0,0),rgba(0.8,0,0,0)), url('/static/img/p222.jpg');
height: 100vh;
box-sizing: cover;
background-repeat: no-repeat;
overflow-x: hidden;
}

.site-header{
width:100%;
height:100vh;
background:linear-gradient(57deg, #ffffff -1%, #519114 100%);
font-family: 'Flamenco', cursive;
}

nav{
width: 100%;
height:100px;
display: flex;
}

.flash{
font-size:20px;
}

.logo{
width: 20%;
height:50px;
}

.logo h1{
line-height:50px;
padding-left:50px;
}

.menu{
margin-left:50%;
width:20%;
height:50px;
}

.menu ul{
width:100%;
height:100px;
list-style:none;
display:flex; flex-direction:row; justify-content:space-around;
line-height:100px;
}

.menu li a{
color: black;
font-size:20px;
font-weight:bold;
text-decoration:none;
}

.menu ul a:hover{
border-bottom: 2px solid black ;
}

.icon{
font-size: 30px;
margin-right:0px;
}

.Text{
width:50%;
height:70vh;
position: absolute;
color: #fff;
font-size: 28px;
text-align:center;
top: 50%;
left:5%;
letter-spacing: 2px;
}

.blink {
animation: blinkText 2s infinite;
font-size: 80px;
font-weight: bold;
font-family: 'Dancing Script', cursive;
}

@keyframes blinkText
{ 0% {color:white;}
25%{color:slateblue;}
50%{color:green;}
100%{color:violet;}
}

p{
margin-top: 10px;
margin-bottom:20px;
}

.btn{
font-weight:lighter;
background-color:transparent;
font-size:25px;
transition: background-color 0.2s, border 0.2s, color 0.2s;
color:#fff;
border:1px solid;
padding: 5px 25px;
border-radius: 180px;
text-decoration:none;
}

.btn:hover{
background-color: #bf55;
}

h1{
font-family: 'Dancing Script', cursive;
font-weight: bold;
font-size:30px;
}

.main-form{
width: 50%;
height:580px;
top:20%;
left:25%;
position:absolute;
box-sizing: border-box;
background:  linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(0,70,0,0.3));
}

.main-form h2{
color: black;
margin-left:43%;
margin-bottom:10px;
margin-top:20px;
}

.main-form form label{
font-size: 18px;
font-weight:bold;
color: black;
display:block;
margin:10px 0px 5px;
margin-left: 15%;
display:block;
padding-top: 20px;
}

.main-form form div input{
width: 60%;
outline:none;
border:none;
border-bottom:1px solid black;
background-color:transparent;
color: black;
margin-left: 25%;
font-weight: bold;
}

.main-form form div div p {
margin-left: 25%;
}

.main-form form div div p ul {
margin-left: 20%;
}

.main-form form div strong {
margin-left: 25%;
color: #de3131;
}

.submitText{
margin-top:20px;
margin-left:60%;
font-weight:bold;
background-color:transparent;
font-size:15px;
transition: background-color 0.2s, border 0.2s, color 0.2s;
color:#124f34;
border:2px solid #124f34;
padding: 3px 45px;
border-radius: 5px;
outline:none;
}

.submitText:hover{
background-color: white;
}

.forgetPassword{
font-size:18px;
text-align:center;
outline:none;
text-decoration:none;
}

.header{
width:100%;
height:15vh;
background:linear-gradient(57deg, #ffffff -1%, #359c3f 100%);
font-family: 'Flamenco', cursive;
}

.header div ion-icon{
font-size:40px;
}
